app/build/intermediates/
BeeLeLibrary/build/
app/build/tmp/compileAndroid-jniX86_64DebugSharedLibraryAndroid-jniMainCpp/options.txt
app/build/tmp/
app/build/generated/
local.properties
.gradle/2.10/taskArtifacts/cache.properties
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/compilationState.bin
.gradle/2.10/taskArtifacts/fileHashes.bin
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/outputFileStates.bin
.gradle/2.10/taskArtifacts/taskArtifacts.bin
.gradle/2.10/tasks/_BeeLeLibrary_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.10/tasks/_BeeLeLibrary_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.10/tasks/_BeeLeLibrary_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.10/tasks/_BeeLeLibrary_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/2.10/tasks/_BeeLeLibrary_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.10/tasks/_BeeLeLibrary_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.10/tasks/_BeeLeLibrary_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.10/tasks/_BeeLeLibrary_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/libraries/activation.xml
.idea/libraries/additional.xml
.idea/libraries/androidplot_core_0_9_8.xml
.idea/libraries/animated_vector_drawable_23_4_0.xml
.idea/libraries/appcompat_v7_23_4_0.xml
.idea/libraries/mail.xml
.idea/libraries/opencsv_3_7.xml
.idea/libraries/support_annotations_23_4_0.xml
.idea/libraries/support_v4_23_4_0.xml
.idea/libraries/support_vector_drawable_23_4_0.xml
.idea/misc (EGR-YEO-12's conflicted copy 2017-01-12).xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
BeeLeLibrary/BeeLeLibrary.iml
ECG_DemoApp.iml
app/app.iml
app/build/outputs/apk/app-debug-unaligned.apk
app/build/outputs/apk/app-debug.apk
app/build/outputs/logs/manifest-merger-debug-report.txt
build/generated/mockable-android-23.jar
build/intermediates/dex-cache/cache.xml
.idea/
app/.externalNativeBuild/
.gradle/4.1/fileChanges/last-build.bin
.gradle/4.1/
.gradle/buildOutputCleanup/
build/android-profile/
build/
app/gradleBuild/
